body {
  padding: 50px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.svg {
  width: 400px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 50px;
}
